---
import MainLayout from '../layouts/MainLayout.astro';
import AboutSection from '../components/AboutSection.md';
import HotTakes from '../components/HotTakes.md';
---

<MainLayout title="Jaren McHugh">
  <section class="space-y-4">
    <AboutSection />
  </section>
</MainLayout>
